extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Rujay Whitehorne


        p Full Stack JavaScript Developer


        .about-bio

          p I am a Web Developer with a background in Networking, Law Enforcement, and Customer Service. The experiences I've gathered from these fields have shaped me into a discipline individual, with a deep appreciation for a supportive team. 
          p I was first bitten by technology when my mom brought home a Nokia 3310. I remember experiencing a feeling of euphoria when I first handled the device. That is the same feeling I get whenever I'm about to start learning a new technology. So, what are we learning/building? :)

             
          


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info


        ul
          li +44 7487385916
          li rujayw14@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/rujay-whitehorne-680917190/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/Rujay' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back